@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.footer {
   padding: 50px 0;
}

.row {
   @include flex();
   flex-wrap: wrap;
}

.col {
   flex: 0 0 100%;
   max-width: 100%;
   margin-bottom: 30px;

   text-align: center;

   @include media('tablet') {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 20px;
   }

   @include media('desktopMiddle') {
      flex: 0 0 33%;
      max-width: 33%;
      margin-bottom: 0;
   }

   @include media('desktop') {
      flex: 0 0 33%;
      max-width: 33%;
   }

   h3 {
      margin-bottom: 10px;
      font-family: var(--fontFamilySecondary);
   }
}

.contactLink {
   position: relative;
   color: $secondary-text-color;

   font-family: var(--fontFamilySecondary);
   font-size: 18px;
   cursor: pointer;

}

.contactLink:not(:last-child) {
   margin-right: 10px;
}

.contactLink::before {
   @include before();
   background-color: $accent-color;
}

.contactLink:hover::before,
.contactLink:focus::before {
   width: 100%;
}

.tel {
   font-family: var(--fontFamilyThird);
}

.copywright {
   margin-top: 50px;
   text-align: center;

   font-family: var(--fontFamilySecondary);
}

.iconBox {
   @include flex(center, center);
   gap: 20px;
}

.icon {
   transition: $transition;
}

.icon:hover {
   transform: scale(1.5);
}

.icon svg {
   width: 30px;
   height: 30px;

   // @include media('tablet') {
   //    width: 30px;
   //    height: 30px;
   // }

   @include media('desktopMiddle') {
      width: 25px;
      height: 25px;
   }
}