@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";



.container {
   position: fixed;
   width: 100%;
   z-index: 50;
   background-color: $primary-bg-color;
   filter: brightness(150%) saturate(100%);
   padding-top: 10px;
   padding-bottom: 10px;


   @include media('tablet') {
      position: relative;
      // background-color: $primary-bg-color;
      // filter: brightness(150%) saturate(100%);
      padding-top: 15px;
      padding-bottom: 15px;

   }

   a {
      // font-family: $fontFamilySecondary;
      font-family: var(--fontFamilySecondary);

   }
}

.wrapper {

   svg {
      display: block;
   }


   @include flex(space-between, center);
   gap: 10px;

   @include media('tablet') {
      @include flex(center, center);
      gap: 10px;
   }

   @include media('desktopMiddle') {
      @include flex(center, center);
      gap: 20px;
   }

   @include media('desktop') {
      @include flex(center, center);
      gap: 40px;
   }
}

.logo {
   transition: $transition;
   display: block;
}

.logo:hover {
   transform: scale(1.1);
}

.box {
   @include flex(space-evenly, center);
   flex-direction: column;
   position: fixed;
   left: -100%;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100vh;
   background-color: $primary-bg-color;
   z-index: 10;
   transition: left 1s;

   @include media('tablet') {
      @include flex(space-around, center);
      flex-direction: row;
      flex-grow: 1;
      position: static;
      width: 0;
      height: 0;
   }

   @include media('desktopMiddle') {
      @include flex(space-around, center);
      flex-direction: row;
      flex-grow: 1;
   }

   @include media('desktop') {
      @include flex(space-between, center);
      flex-direction: row;
      flex-grow: 1;
   }
}

.activeMobMenu {
   left: 0;
}

// .nav {
//    @include media('tablet') {
//       margin-bottom: 15px;
//    }
// }

.nav ul {
   @include flex(_, center);
   flex-direction: column;
   gap: 30px;


   @include media('tablet') {
      @include flex(center, center);
      flex-direction: row;
      gap: 10px;
      flex-wrap: wrap;
      gap: 20px;
   }
}

.iconMob {

   @include media('tablet') {
      display: none;
   }
}

.link {
   position: relative;
   color: $secondary-text-color;
   font-size: 25px;

   // @include media('minimob') {
   //    font-size: 9px;
   // }

   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }

}

.link::before {
   @include before();
   background-color: $accent-color;
}

.link:hover::before,
.link:focus::before {
   width: 100%;
}

.boxLangMob {
   display: flex;
   gap: 20px;
   font-size: 20px;

   @include media('tablet') {
      display: none;
   }
}

.boxLang {
   display: none;

   @include media('tablet') {
      display: block;
      // margin-bottom: 15px;
   }

}



.lang {
   position: relative;
   color: $primary-text-color;
   // font-size: 10px;
   font-size: 20px;
   cursor: pointer;

   // @include media('minimob') {
   //    font-size: 7px;
   // }

   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }
}

.lang::before {
   @include before();
   background-color: $accent-color;
}

.lang:hover::before,
.lang:focus::before {
   width: 100%;
}

.contactsList {

   // @include flex(center, center);
   // flex-direction: row;
   // flex-wrap: wrap;
   @include flex();
   flex-direction: column;
   gap: 15px;



   @include media('tablet') {
      @include flex(center, center);
      flex-direction: column;
      gap: 5px;

   }

   @include media('desktopMiddle') {
      @include flex(center, center);
      flex-direction: row;
      gap: 20px;
   }

}

.contactLink {
   position: relative;
   color: $secondary-text-color;
   font-size: 16px;
   cursor: pointer;



   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }
}

.contactLink::before {
   @include before();
   background-color: $accent-color;
}

.contactLink:hover::before,
.contactLink:focus::before {
   width: 100%;
}

.contactsList .tel {
   // font-family: $fontFamilyThird;
   font-family: var(--fontFamilyThird);
}



.iconMob svg {
   display: block;
   width: 40px;
   height: 40px;

   @include media('tablet') {
      display: none;
   }

}

.icon {
   display: none;

   @include media('tablet') {
      display: block;
      transition: $transition;
   }
}

.icon:hover {
   transform: scale(1.5);
}

.icon svg {

   width: 25px;
   height: 25px;

   @include media('tablet') {
      width: 20px;
      height: 20px;
   }
}

.mobileBtn {
   display: flex;
   position: absolute;
   top: 21px;
   right: 25px;
   cursor: pointer;
   z-index: 10;


   @include media('tablet') {
      display: none;
   }
}