@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.container {
   background-color: $primary-bg-color;
   filter: brightness(150%) saturate(100%);

   padding-top: 15px;
   padding-bottom: 15px;

   a {
      font-family: $fontFamilySecondary;
      // font-family: var(--fontFamilySecondary);
   }


}

.wrapper {

   svg {
      display: block;
   }


   @include flex(space-between, center);
   gap: 10px;

   @include media('tablet') {
      @include flex(center, center);
      gap: 10px;
   }

   @include media('desktopMiddle') {
      @include flex(center, center);
      gap: 20px;
   }

   @include media('desktop') {
      @include flex(center, center);
      gap: 40px;
   }
}

.logo {
   transition: $transition;
}

.logo:hover {
   transform: scale(1.1);
}

.box {
   @include flex(center, center);
   flex-direction: column;


   @include media('tablet') {
      @include flex(space-around, center);
      flex-direction: row;
      flex-grow: 1;
   }

   @include media('desktopMiddle') {
      @include flex(space-around, center);
      flex-direction: row;
      flex-grow: 1;
   }

   @include media('desktop') {
      @include flex(space-between, center);
      flex-direction: row;
      flex-grow: 1;
   }
}

.nav ul {

   @include flex(center, center);
   gap: 10px;

   @include media('tablet') {
      gap: 20px;
   }
}


.link {
   position: relative;
   color: $secondary-text-color;
   font-size: 10px;

   @include media('minimob') {
      font-size: 9px;
   }

   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }

}

.link::before {
   @include before();
   background-color: $accent-color;
}

.link:hover::before,
.link:focus::before {
   width: 100%;
}


.lang {
   position: relative;
   color: $primary-text-color;
   font-size: 10px;
   cursor: pointer;

   @include media('minimob') {
      font-size: 7px;
   }

   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }
}

.lang::before {
   @include before();
   background-color: $accent-color;
}

.lang:hover::before,
.lang:focus::before {
   width: 100%;
}

.contactsList {

   @include flex(center, center);
   flex-direction: row;
   gap: 15px;

   @include media('tablet') {
      @include flex(center, center);
      flex-direction: column;
   }

   @include media('desktopMiddle') {
      @include flex(center, center);
      flex-direction: row;
      gap: 20px;
   }

}

.contactLink {
   position: relative;
   color: $secondary-text-color;
   font-size: 10px;
   cursor: pointer;

   @include media('minimob') {
      font-size: 7px;
   }

   @include media('tablet') {
      font-size: 14px;
   }

   @include media('desktopMiddle') {
      font-size: 16px;
   }
}

.contactLink::before {
   @include before();
   background-color: $accent-color;
}

.contactLink:hover::before,
.contactLink:focus::before {
   width: 100%;
}

.contactsList .tel {
   font-family: $fontFamilyThird;
   // font-family: var(--fontFamilySecondary);
}

.icon {
   transition: $transition;

}

.icon:hover {
   transform: scale(1.5);
}

.icon svg {
   width: 17px;
   height: 17px;

   @include media('tablet') {
      width: 20px;
      height: 20px;
   }
}