@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.section {
   padding-bottom: 50px;
   background: url('/images/whywe.webp');
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
}

.wrapper {
   @include wrapperTitle();

   h2 {
      padding-top: 20px;
      font-family: var(--fontFamilyBase);
   }
}

.box {
   @include flex(space-around, center);

   gap: 20px;
   flex-direction: column-reverse;
   margin-bottom: 50px;

   @include media('tablet') {
      @include flex(space-around, flex-start);
      flex-direction: row;
      gap: 10px;
      margin-bottom: 120px;
   }
}

.secondBox {
   @include flex(space-between, center);
   gap: 20px;
   flex-direction: column;
   margin-bottom: 50px;


   @include media('tablet') {
      @include flex(space-around, flex-start);
      flex-direction: row;
   }
}

.photo {

   border-radius: 20px;

   transition: $transition;

   @include media('tablet') {
      width: 450px;
      overflow: hidden;
   }

   @include media('desktopMiddle') {
      // margin-top: -60px;
      width: 520px;
      overflow: hidden;
   }

   @include media('desktop') {
      width: 650px;
      // height: 433px;
      overflow: hidden;
   }
}

.photo:hover {
   transform: scale(1.05)
}

.photo img {
   // width: 350px;
   // min-width: 320px;
   width: 100%;
   height: 233px;
   object-fit: cover;

   background-color: $third-bg-color;
   // border-radius: 20px;


   @include media('tablet') {
      // width: 450px;
      height: 300px;
   }

   @include media('desktopMiddle') {
      // width: 520px;
      height: 347px;
   }

   @include media('desktop') {
      // width: 650px;
      height: 433px;
   }
}



.secondPhoto {
   border-radius: 20px;

   transition: $transition;

   @include media('tablet') {
      width: 280px;
      overflow: hidden;
   }

   @include media('desktopMiddle') {
      // margin-top: -60px;
      width: 400px;
      overflow: hidden;
   }


   @include media('desktop') {
      margin-top: -210px;
      width: 500px;
      overflow: hidden;
   }
}

.secondPhoto:hover {
   transform: scale(1.05)
}

.secondPhoto img {
   // width: 340px;
   width: 100%;
   height: 230px;
   object-fit: cover;

   background-color: $third-bg-color;
   // border-radius: 20px;

   @include media('tablet') {
      // width: 300px;
      height: 400px;
   }

   @include media('desktopMiddle') {
      // width: 400px;
      height: 530px;
   }

   @include media('desktop') {
      // width: 420px;
      // height: 100%;
      height: 660px;
   }
}



.reasons {
   width: 300px;
   padding: 15px 20px;
   background-color: $secondary-bg-color;
   border-radius: 15px;

   @include media('tablet') {
      width: 280px;
   }

   @include media('desktopMiddle') {
      width: 400px;
      padding: 30px 40px;
   }

   @include media('desktop') {
      width: 500px;
   }

   h3 {
      font-family: var(--fontFamilySecondary);
   }
}

.secondReasons {
   width: 300px;
   padding: 15px 20px;
   background-color: $secondary-bg-color;
   border-radius: 15px;

   @include media('tablet') {
      width: 450px;
   }

   @include media('desktopMiddle') {
      width: 520px;
      padding: 30px 40px;
   }

   @include media('desktop') {
      width: 650px;
   }
}

.list li {
   padding: 6px;
   text-align: left;

   // font-family: $fontFamilySecondary;
   font-family: var(--fontFamilySecondary);

   @include media('desktopMiddle') {
      font-size: 18px;
   }

}

.list li:before {
   padding-right: 10px;
   font-weight: bold;
   color: $third-text-color;
   content: "\2606";
   transition-duration: 0.5s;
}

.list li:hover:before {
   color: $hover-color;
   content: "\2605";
}

.accentText {
   font-weight: bold;
   // font-family: $fontFamilyBase;
}